//
//  .gitignore
//  HDMV
//
//  Created by Ghislain Demael on 09.06.2025.
//

*.xcconfig
*.xcuserdatad
*.xcscmblueprint
*.xccheckout

# xcuserdata folders (all workspaces & projects)
**/xcuserdata/

/Config/*
